@use '../utils/variables';

.footer {
  margin-top: 48px;
  background-color: #353535;
  display: flex;
  // width: 375px;
  padding: 22px 25px;
  width: 100%;
  flex-direction: column;
  gap: 16px;

  &__logo {
    display: flex;
    height: 27px;
    width: 138px;
    font-family: variables.$heading-font;
    font-weight: 400;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    &__item {
      // width: 190px;
      height: 19px;
      display: flex;
      align-items: center;

      &__link {
        width: 130px;
        display: flex;
        align-items: center;
        color: #fff;

        .footer__list__item__link__icon {
          width: 12px;
          height: 13px;
        }

        &--logo {
          width: 190px;
          color: #fff;
          display: flex;
          gap: 11px;
          align-items: center;
        }
      }

      p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width:1024px) {
  .footer {
    padding: 30px 25px;
    flex-direction: row-reverse;

    &__list {
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
    }
  }
}