@use '../utils/variables';

.footer {
  margin-top: 25px;
  background-color: #353535;
  display: flex;
  // width: 375px;
  padding: 22px 25px;
  flex-direction: column;
  gap: 16px;

  &__logo {
    display: flex;
    height: 27px;
    font-family: variables.$heading-font;
    font-weight: 400;
    color: #fff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;

    &__item {
      width: 190px;
      height: 19px;

      &__link {
        width: 100%;
        color: #fff;

        .footer__list__item__link__icon {
          width: 12px;
          height: 13px;
          font-size: 24px;
        }

        &--logo {
          width: 100%;
          color: #fff;
          display: flex;
          gap: 11px;
          align-items: center;
        }
      }

      p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}