@use '../utils/variables';

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.description__parent,
.fcnt__parent,
.header__parent,
.restaurants_parent,
.restaurant__parent,
.footer__parent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.description__parent {
  background-color: #f6f6f6;
}

.fcnt__parent {
  background-color: #fff;
}

.restaurants_parent {
  background-color: #f6f6f6;
  margin-bottom: 36px;
}

.restaurant__parent {
  background-color: #fff;
}

.footer__parent {
  background-color: #353535;
  align-items: flex-end;
}

.footer,
.restaurants,
.fcnt,
.description {
  max-width: 1440px;
}
