@use '../utils/variables';

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  // max-width: 1440px;
  margin: 0 auto;
}

.header__parent {
  // background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurants__parent {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__parent {
  background-color: #353535;
  width: 100%;
  margin-top: 66px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer,
.restaurants,
.fcnt,
.description {
  max-width: 1440px;
}
