@use '../utils/variables';

.menu__header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
  padding: 14px 89px 13px 17px;

  .fa-arrow-left {
    width: 30px;
    height: 30px;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    flex-basis: 30px;
  }

  &__logo {
    display: flex;
    width: 197px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &__headline {
      color: #101010;
      text-align: center;
      font-family: variables.$heading-font;
      font-size: 30px;
      font-weight: 400;

      display: flex;
      width: 197px;
      height: 36px;
      padding: 0px 19px 0px 16px;
      justify-content: center;
      align-items: center;
    }
  }
}

.restaurant__card {
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
  display: flex;

  &__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }

  &__content {
    position: relative;
    // top: -55px;
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  &__heading {
    display: flex;
    padding: 32px 17px 0 17px;
    width: 341px;
    min-height: 29px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__name {
      height: 27px;
      font-family: variables.$heading-font;
      font-weight: 400;
      color: #101010;
      font-size: 28px;
    }

    .restaurant__heart,
    .restaurant__heart--full {
      position: absolute;
      bottom: 2px;
      right: 24px;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0px 13px;
    width: 100%;

    &__heading {
      width: 275px;
      height: 27px;
      color: #000;
      font-family: variables.$main-font;
      font-size: 16px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 3px;
        background: #99e2d0;
      }
    }

    .card__row {
      display: flex;
      // width: 349px;
      // width: 100%;

      height: 69px;
      border-radius: 15.043px;
      background: #fff;
      box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
      flex-direction: row;
      white-space: nowrap;
      overflow: hidden;
      align-items: center;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px;
        flex: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &__name {
        width: 100%;
        min-height: 21px;
        overflow: hidden;
        color: #000;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
      }

      &__details {
        display: flex;
        gap: 5px;
        justify-content: space-between;
        height: 19px;
        align-items: flex-end;
        width: 100%;

        &__description {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 15.043px;
          font-weight: 300;
          max-height: 19px;
        }

        &__price {
          color: #353535;
          text-align: center;
          font-size: 15.043px;
          font-weight: 700;
          align-self: flex-end;
          max-height: 19px;
        }
      }
    }
  }

  .restaurant__commander__btn {
    width: 186px;
    margin-bottom: 40px;
  }
}

.footer.restaurant {
  margin-top: 0;
}

@media (min-width: 768px) {
  .restaurant__card__section {
    width: 75%;

    .card__row {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .main-container.restaurant-container {
    gap: 0px;
    background-color: #fff;
  }

  .menu__header {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 30px 17px 36px 17px;
    gap: 0px;
    background: #fff;
    // box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    max-width: 1440px;

    &__logo {
      width: 200px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
    }
  }

  .restaurant__card {
    background-color: #fff;
    max-width: 1440px;

    &__img {
      height: 500px;
      position: relative;
      top: -117px;
    }

    &__content {
      position: relative;
      // margin-top: -117px;
      border-radius: 50px 50px 0px 0px;
      width: 73.3%; //car 1440-(192+192)/1440 = 0.733
      // height: 1185px;
      margin-top: -163px;
    }

    &__heading {
      width: 307px;
      height: 41px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-top: 51px;

      &__name {
        height: 100%;
      }

      .restaurant__heart,
      .restaurant__heart--full {
        top: 6px;
        right: 0px;
      }
    }

    &__section {
      padding: 0px 100px;
      width: 100%;

      .card__row {
        width: 100%;
      }
    }
  }

  .footer.restaurant {
    margin-top: -84px;
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .restaurant__card__section {
    padding: 0px 125px;
  }
}

@media (min-width: 1440px) {
  .restaurant__card__section {
    padding: 0px 210px;
  }
}
