@use '../utils/variables';

.menu__header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
  padding: 14px 89px 13px 17px;

  .fa-arrow-left {
    width: 30px;
    height: 30px;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    flex-basis: 30px;
  }

  &__logo {
    display: flex;
    width: 197px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &__headline {
      color: #101010;
      text-align: center;
      font-family: variables.$heading-font;
      font-size: 30px;
      font-weight: 400;

      display: flex;
      width: 197px;
      height: 36px;
      padding: 0px 19px 0px 16px;
      justify-content: center;
      align-items: center;
    }
  }
}

.restaurant__card {
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
  display: flex;

  &__img {
    width: 100%;
    height: 275px;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 220px;
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;

    .restaurant__card__heading {
      display: flex;
      padding: 32px 17px 0 17px;
      width: 341px;
      min-height: 29px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &__name {
        height: 27px;
        font-family: variables.$heading-font;
        font-weight: 400;
        color: #101010;
        font-size: 28px;
      }

      .restaurant__heart,
      .restaurant__heart--full {
        position: absolute;
        bottom: 2px;
        right: 24px;
      }
    }

    .restaurant__card__section {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &__heading {
        width: 275px;
        height: 27px;
        color: #000;
        font-family: variables.$main-font;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &::after {
          content: '';
          display: block;
          width: 40px;
          height: 3px;
          background: #99e2d0;
        }
      }

      .card__row {
        display: flex;
        // padding: 15px;
        // padding-right: 0;
        width: 349px;
        height: 69px;
        border-radius: 15.043px;
        background: #fff;
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        gap: 5px;
        white-space: nowrap;
        overflow: hidden;
        align-items: center;

        &__content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 15px;
          //max-width: 82%; // car 287/349 = 0.82;
          // width: 82%;
          min-width: 100%;
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        &__details {
          display: flex;
          gap: 5px;
          justify-content: space-between;
          height: 19px;
          align-items: flex-end;
          width: 100%;

          &__name {
            width: 100%;
            min-height: 21px;
            overflow: hidden;
            color: #000;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            font-weight: 500;
          }

          &__description {
            min-height: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 15.043px;
            font-weight: 300;
            max-height: 19px;
          }
        }

        &__price {
          color: #353535;
          text-align: center;
          font-size: 15.043px;
          font-weight: 700;
          align-self: flex-end;
          max-height: 19px;
        }

        &__checked {
          width: 59px;
          height: 69px;
          border-radius: 0px 15px 15px 0px;
          background-color: #99e2d0;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateX(100%);
          transition: transform 300ms ease-in-out;

          .fa-check {
            color: #fff;
            --fa-border-color: #fff;
            --fa-border-radius: 50%;
            --fa-border-style: solid;
            --fa-border-width: 2px;
          }
        }

        &:hover .card__row {
          padding-right: 0px;
        }

        &:hover .card__row__checked {
          visibility: visible;
          transform: translateX(0);
        }

        &:hover .card__row__content {
          padding-right: 0px;
          min-width: 82%;
        }

        &:hover .card__row__details__name,
        &:hover .card__row__details__description {
          width: calc(100% - 59px);
        }
      }
    }
  }
}
