@use '../utils/variables';

.restaurants {
  margin-top: 54px;
  padding-left: 17px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__heading {
    padding-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
    width: 275px;
    margin-left: 20px - 17px;
  }


}