@use '../utils/variables';

@mixin pseudo-elem {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  &:hover {
    cursor: pointer;

    &::after {
      opacity: 1;
    }
  }

  &::after {
    @include pseudo-elem;
    background: variables.$gradient-after;
    box-shadow: variables.$shadow-after;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms ease-out;
  }
}

.heart {
  cursor: pointer;
  font-size: 1.2em;
  width: 22px;
  height: 21px;
}

.heart--full {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-text-fill-color: transparent;
  background-image: variables.$gradient-before;
  background-clip: text;
  -webkit-background-clip: text;
}

.heart--full:hover {
  opacity: 1;
  background-image: variables.$gradient-before;
  transition: opacity 0.3s ease-out;
}

.card__row {
  &__content {
    min-width: 100%;
    transition: min-width 350ms ease-in-out;
  }

  &__checked {
    width: 59px;
    height: 69px;
    border-radius: 0px 15px 15px 0px;
    background-color: #99e2d0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;

    .fa-check {
      color: #99e2d0;
      --fa-border-color: #fff;
      --fa-border-radius: 50%;
      background-color: #fff;
      font-size: 16px;
    }
  }

  &:hover {
    .card__row__content {
      min-width: calc(100% - 59px);
    }

    .card__row__checked {
      transform: translateX(0);
    }
  }
}

$size: 3vh;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / 5;

.load {
  width: $size * 10;
  height: $size * 7.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  &__bar {
    background-color: variables.$main-color;
    height: 100%;
    width: $size;
    animation: bars $anim-dur forwards 3s ease-in-out alternate;
    @for $i from 1 through 5 {
      &--#{$i} {
        animation-delay: $anim-delay * $i;
      }
      &--#{$i}-inv {
        animation-delay: $anim-delay * $i;
        background-color: variables.$secondary-color;
      }
    }
  }
}

.main-container.accueil {
  opacity: 0;
  height: 0px;
  animation: 1500ms ease-in-out 2000ms 1 alternate forwards running bars-inv;
}

@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes bars-inv {
  0% {
    transform: scaleX(0.5);
    opacity: 0;
    height: 0px;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
    height: auto;
  }
}

$menu-delay: 1000ms;

.restaurant__card__section {
  opacity: 0;

  @for $i from 1 through 3 {
    &-#{$i} {
      animation: menu 1s ease-in-out forwards;
      animation-delay: $menu-delay * $i;
    }
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
