@use '../utils/variables';

@mixin pseudo-elem {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  &:hover {
    cursor: pointer;

    &::after {
      opacity: 1;
    }
  }

  &::after {
    @include pseudo-elem;
    background: variables.$gradient-after;
    box-shadow: variables.$shadow-after;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms ease-out;
  }
}