@use '../utils/variables';

@mixin pseudo-elem {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

button {
  &:hover {
    cursor: pointer;

    &::after {
      opacity: 1;
    }
  }

  &::after {
    @include pseudo-elem;
    background: variables.$gradient-after;
    box-shadow: variables.$shadow-after;
    border-radius: 25px;
    opacity: 0;
    z-index: -1;
    transition: opacity 300ms ease-out;
  }
}

.heart {
  cursor: pointer;
  font-size: 1.2em;
  width: 22px;
  height: 21px;
}

.heart--full {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
}

.heart--full:hover {
  opacity: 1;
  background-image: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  transition: opacity 0.3s ease-out;
}
