$main-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #deebff;
$text-color: #000;
$logo-font: 'Shrikhand', sans-serif;
$heading-font: 'Shrikhand', sans-serif;
$main-font: 'Roboto', sans-serif;
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
);